# Compilados
*.o
*.a
*.so
*.out

# Ejecutables (sin extensión, como publisher y subscriber)
publisher
subscriber
token

# Carpetas de build
build/
cmake-build-debug/
cmake-build-release/
certificados/broker#
certificados/ca#
certificados/cliente#

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDEs
.vscode/
.idea/
*.user

# Temporales
*.log
*.tmp
