# Ejecutables (sin extensión, como publisher y subscriber)
publisher
subscriber
menu
token
watcher

# Carpetas de build
certificados/broker*
certificados/ca*
certificados/cliente*
src/logs_mosquitto.txt
ollama/venvpy
ollama/Modelfile.DS_Store
**/.DS_Store
